// colors
$background: white;
$primary: #2196f3;
$primary-dark: #0a5f9e;
$secondary: #ffc413;
$complimentary: #ff5612;

$toolbar: $primary;
$main: $complimentary;
$footer: $primary-dark;

$title: white;
$link: $primary;
$link-active: $primary-dark;

$white: white;
$light_gray: #f9f9f9;
$gray: #aaa;

// font sizes
$fs-large: 30px;
$fs_medium: 24px;
$fs_normal: 16px;
$fs_small: 12px;

// font family
$ff_default: 'Avenir', 'Roboto', Helvetica, Arial, sans-serif;
